.container-gestion{
    margin-top: 90px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 90px auto 10px;
 
    .container-gestion-ppal {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 50%;
        height: 100%;
        margin: 4% auto 5% ;
        justify-items: center;
        align-items: center;
        gap: 10px;
        
         /* Ajusta la altura según tus necesidades */
      }
      
      .container-gestion-ppal-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 1px 1px 4px #f1f1f1;
        width: 80%;
        height: 95%;
        border-radius: 15px;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.103) 0px 10px 10px;
        &:hover{
            background: linear-gradient(to left, #f1f1f1, #0000002d);
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.589) 0px 3px 6px;
            
            .container-gestion-title{
                
                color: #fd7155;
              }
              .gestion-icon {
                color: #fd7155;
              }

            
        }

      }
      .container-gestion-title{
        color: #fd7155;
        text-align: center;
        font-size: 18px;
        margin: 3%;
        
      }
      
      .gestion-icon {
        width: 50px; /* Ajusta el tamaño de la imagen según tus necesidades */
        height: 100px;
        color: #fd7155;
      }
}
@media (max-width:1000px) {
  .container-gestion{
    margin: 20% auto;
  .container-gestion-ppal{
    width: 80%;
  }
}
}
@media (max-width:480px) {
  .container-gestion{
  .container-gestion-ppal{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 20px;
  }
}
}