div.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.profile button.avatar {
    border-radius: 50%;
    height: 3.1rem;
    width: 3.1rem;
    color: white;
    background-color: #29D884;
    box-shadow: none;
    font-size: 1.4em;
    font-weight: 800;
}

.profile_name {
    font-size: .75em;
    color: black;
    margin: 2px 0 2px 0;
}

.font_logout {
    font-size: .6em;
    text-decoration: none;
}

.dark__when__opening{
    top: 90px;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: #0c0c0c;
    opacity: 0.5;
}
.profile__panel{
    width: 300px;
    height: 500px;
    background: #fff;
    position: absolute;
    top: 90px;      
    right: 0;
}

.open{
    display: flex;
}
.close{
    display: none;
}

.profile__panel--options{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 100%;
    padding: 3rem;
    gap: 2rem;
}

.profile__panel--options a{
    display: flex;
    gap: 1rem;
    text-decoration: none;
    color: #000;
}