.container-reserve{
    margin-top: 90px;
    margin-bottom: 40px;
    h2{
        display: flex;
        justify-content: center;
        margin: auto;
        width: 80%;
        text-align: center;
        padding: 2%;
        background-color: #fd7155 ;
        color: #f1f1f1;
        
    }
    .ppal_container.table.table-striped.table-bordered.table-hover{
        padding: 5%;
        margin: 0 auto;
        .encabezado{
            padding: 5%;
            border: 1px solid white;
            .items_tabla{
                color: #f1f1f1;
                padding: 5%;
                th{
                    padding: 2%;
                }
            }
        }
    }
    tbody{
        tr{
            .past{
                background-color: #e0e0e0;
            }
            .future{
                background-color: #ACFDA8;
            }
        }
    }
    
}