@charset "UTF-8";
.product__details {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  margin: 0 auto;
  box-shadow: none;
}
.product__details .product__details_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #fd7155;
}
.product__details .product__details_top .icon-left {
  font-size: 50px;
  color: #fff;
}
.product__details .product__details_top .product__details_title {
  color: #fff;
  font-size: 30px;
}

.reserva-container {
  margin-top: 10px;
}

body {
  margin-top: 90px;
  background-color: #ffffff;
}
body .reserva-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 15px;
  background-color: #ffffff;
  position: relative;
}
body .reserva-container .datos-reserva-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}
body .reserva-container .datos-reserva-container .datos-usuario {
  width: 100%;
  padding: 20px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  color: #333;
}
body .reserva-container .datos-reserva-container .datos-usuario:focus {
  outline: none;
  box-shadow: 0 0 5px #a1eafa;
}
body .reserva-container .datos-reserva-container .datos-usuario .wide-form {
  max-width: 600px;
  margin: 0 auto;
}
body .reserva-container .datos-reserva-container .datos-usuario h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
body .reserva-container .datos-reserva-container .datos-usuario form {
  background-color: #fcfbfb;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 5px;
  width: 90%;
  box-shadow: none;
}
body .reserva-container .datos-reserva-container .datos-usuario form label {
  font-weight: bold;
  margin-bottom: 10px;
}
body .reserva-container .datos-reserva-container .datos-usuario form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}
body .reserva-container .datos-reserva-container .datos-usuario form .correo-input {
  background-color: rgba(191, 184, 184, 0.553);
  color: #555;
}
body .reserva-container .datos-reserva-container .date-picker-reserva-container,
body .reserva-container .datos-reserva-container .hora-reserva-container {
  padding: 20px;
  background-color: #fcfbfb;
  border: 1px solid #c3c3c3;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
body .reserva-container .detalle-restaurante-container {
  flex: 2;
  padding: 20px;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #fffffe;
  border-radius: 4px;
  grid-column: 2;
}
body .reserva-container .detalle-restaurante-container .cancelar-btn {
  background-color: #ff0000;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  float: right;
  margin-top: 1rem;
  margin-left: 1rem;
}
body .reserva-container .detalle-restaurante-container h3 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}
body .reserva-container .detalle-restaurante-container .wide-card {
  max-width: 2000px;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
body .reserva-container .detalle-restaurante-container h3 {
  color: #555;
  font-size: 18px;
  margin-bottom: 10px;
}
body .reserva-container .detalle-restaurante-container p {
  color: #888;
  font-size: 14px;
  margin-bottom: 5px;
}
body .reserva-container .detalle-restaurante-container img {
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
  border-radius: 8px;
}
body .reserva-container .detalle-restaurante-container label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}
body .reserva-container .detalle-restaurante-container input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
body .reserva-container .detalle-restaurante-container .confirmar-btn {
  width: auto;
  margin-right: 1rem;
  margin-top: 1rem;
  margin: 1rem auto;
  padding: 0.75rem 2rem;
  border-radius: 6px;
  background-color: #6658d3;
  border: none;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  display: flex;
}

@media (max-width: 767px) {
  .product__details_top {
    width: 100%;
    padding: 0;
  }
  .product__details {
    width: 100%;
    padding: 0;
  }
  body {
    width: 100%;
  }
  body .reserva-container {
    display: flex;
    flex-direction: column;
  }
  body .datos-usuario form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
  body .datos-usuario form label {
    grid-column: 1/-1; /* Ocupar toda la columna */
  }
  body .datos-usuario form input {
    grid-column: 1/-1; /* Ocupar toda la columna */
  }
  body .date-picker-reserva-container {
    width: 100%;
    max-width: 100%;
    overflow: hidden; /* Agrega un overflow oculto para evitar que el calendario se desborde */
    height: 100%;
  }
  body .MuiPickersStaticDatePicker-root { /* Ajusta el tamaño del calendario */
    width: 100%;
    height: 100%;
  }
  body .MuiDateCalendar-root { /* Ajusta el tamaño del calendario */
    width: 100%;
    height: 100%;
    padding: 0; /* Quita el padding en dispositivos móviles */
  }
  body .hora-reserva-container {
    max-width: 100%;
  }
  body .datos-reserva-container {
    width: 100%;
    padding: 10px;
  }
  body .detalle-restaurante-container {
    width: 100%;
    padding: 10px;
  }
  body .cancelar-btn {
    margin: 0 auto;
  }
}/*# sourceMappingURL=Reserva.css.map */